h1{
    font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #5B5349;
  margin-top: 20px;
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
}
.logo{
    max-height: 75px;
}
nav{
    padding: 20px 0;
}
nav ul{
    padding: 0;
    margin: 0;
}
nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}
nav a {
    text-decoration: none;
    color:#5B5349;
    transition: all 100ms ease-in-out;
}
nav a:hover,
nav li .active a{
    color: #DDC1A7;
}
.video{
    text-align: center;
    background-color: #DDC1A7;
    margin-bottom: 35px;
}
.picture{
    border-radius: 60px;
    margin-top: 20px;
}
p{
    color: #5B5349;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 15px;
}
footer{
    margin: 60px 0;
}
footer .email-link{
    text-decoration:none;
    color:#5B5349;
    font-size:24px;
    margin-bottom: 15px;
}
footer .email-link:hover{
color: #DDC1A7;
}
footer .social-link a{
    margin:0 20px;
    color: #5B5349;
    background: #DDC1A7;
    padding: 10px 14px;
    border-radius:50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}
footer .social-link a:hover{
    color:#DDC1A7;
    background: #5B5349;
}